<h1>Editar <%= singular_name.titleize %></h1>

<%= render_form %>

<%- if actions? :show, :index -%>
<p>
  <%- if action? :show -%>
    <%%= link_to "Ver", <%= item_path :instance_variable => true %>, :class => "button" %> |
  <%- end -%>
  <%- if action? :index -%>
    <%%= link_to "Ãndice", <%= items_path %>, :class => "button negative" %>
  <%- end -%>
</p>
<%- end -%>
